/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a65a7;
  font-family: "Lato", cursive;
}

.Header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center
}

@media (max-width: 800px){
  /* 15 px is top and bottom + 0px is for left and right */
  .Header {
    margin: 15px 0;
    font-size: 35px
  }
}
